body{
    background-color: #f7f7f7 !important;
}
/* admin */
#header{
    background-color: #222e3d;
    height:50px;
    margin-top: -10px;
    padding:15px 0 0 135px;
}
#header a{
    text-decoration: none;
}
#header span{
    color:#fec505;
    font-weight: 300;
    font-size: 20px;
}
#menu{
    background-color: #dc684d;
}
#menu .list:hover{
    background-color: #666;
}
#menu .list{
    color:#fff;
    text-align: center;
    font-size: 20px;
}
#menu a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

 table,th,td {
    border:1px solid black;
}
.content th,td{
    text-align: center;
}
table{
    width:100%;
    border-collapse: collapse;
}
#body .btn-success{
    margin:30px 0 30px -15px;
}
/* add_cat */
#add_cat {
    background-color: #f7f7f7;
}
#add_cat .form{
    display:block;
    background-color: #fff;
    padding:30px 720px 30px 50px;
}
#add_cat .place{
    background-color: #ccc;
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
}#add_cat .form .btn-success{
    margin-top:-4px;
}
/* edit_cat */
#edit_cat {
    background-color: #f7f7f7;
}
#edit_cat .place{
    background-color: #ccc;
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
}
#edit_cat .form .btn-primary{
    margin-top:-4px;
}
#edit_cat .form{
    display:block;
    background-color: #fff;
    padding:30px 720px 30px 50px;
}
/* add_product */
#add_grade {
    background-color: #f7f7f7;
}
#add_grade .place{
    background-color: #ccc;
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
}
#add_grade .form-add p{
    margin-top:12px;
}
#add_grade .form-add{
    position:relative;
}
#add_grade .form-group input{
    position:absolute;
    right:100px;
}
#add_grade .btn-success{
    margin:30px 0 0 0;
}
/* edit_product */
#edit_grade {
    background-color: #f7f7f7;
}
#edit_grade .place{
    background-color: #ccc;
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
}
#edit_grade .form-add p{
    margin-top:12px;
}
#edit_grade .form-add{
    position:relative;
}
#edit_grade .form-group input{
    position:absolute;
    right:100px;
}
#edit_grade .btn-success{
    margin:30px 0 0 0;}


